<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyBook.Properties.Settings>
            <setting name="color1" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="color2" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="color3" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="color4" serializeAs="String">
                <value>255, 128, 255</value>
            </setting>
            <setting name="color5" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="colorNone" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
        </MyBook.Properties.Settings>
    </userSettings>
</configuration>